@using RS1_Ispit_asp.net_core.EntityModels

@{
    ViewBag.Title = "Index";


}

<h2>Home/Index</h2>




<br />
@Html.ActionLink("Ajax text", "Index", "AjaxTest")
<br />
@Html.ActionLink("DB text", "TestDB", "Home") << -- Prije nego što kliknete prepravite <strong> Connection string </strong> i izvršite migraciju.
<br />
@Html.ActionLink("Ispitni Termini", "Index", "IspitniTermin") 
<br />
